// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.letters {
  display: flex;
}

.letter {
  background-color: blue;
  margin: 5px;
  width: 30px;
  height: 30px;
  text-align: center;
  color: white;
  vertical-align: middle;
}
